<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaosheng.springcloud.dao.DeptDao">
	<!-- 查询所有的数据 -->
	<select id = "findAll" resultType="Dept">
		select deptno,dname,db_source from dept  
	</select>
	
	<!-- 根据Id查询数据部门 -->
	<select id = "getIdByDept"  parameterType="String" resultType="Dept">
		SELECT deptno ,
			   dname ,
		       db_source  
		FROM 
			dept 
		WHERE 
			deptno = #{id}     
	</select>	
	
	<!-- 插入部门信息 -->
	<insert id="addDept" parameterType = "Dept">
		INSERT INTO dept(dname,db_source) VALUES(#{dname},DATABASE())  
	</insert>
</mapper>
 

